body,
#quote-box {
  display: flex;
  justify-content: center;
}

body {
  text-align: center;
  width: 100%;
  height: 100vh;
  margin: auto;
  align-items: center;
  background: rgb(255, 102, 0);
  font-family: "Yeon Sung", cursive;
}

#container,
#quote-box,
#instructions,
#quote,
#chuck-norris {
  margin: auto;
}

#quote-box {
  padding: 10px;
  background: rgb(140, 80, 41);
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 3px;
}

#quote {
  margin-left: 5px;
}

#chuck-norris {
  margin-right: 0;
}

#chuck-norris:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@keyframes backflip {
  0% {
    transform: translateX(5px) rotateZ(0deg);
  }
  10% {
    transform: translateX(10px) rotateZ(36deg);
  }
  20% {
    transform: translateX(15px) rotateZ(72deg);
  }
  30% {
    transform: translateX(20px) rotateZ(108deg);
  }
  40% {
    transform: translateX(25px) rotateZ(144deg);
  }
  50% {
    transform: translateX(30px) rotateZ(180deg);
  }
  60% {
    transform: translateX(25px) rotateZ(216deg);
  }
  70% {
    transform: translateX(20px) rotateZ(252deg);
  }
  80% {
    transform: translateX(15px) rotateZ(288deg);
  }
  90% {
    transform: translateX(10px) rotateZ(324deg);
  }
  100% {
    transform: translateX(0px) rotateZ(360deg);
  }
}

.backflip {
  animation: backflip 0.5s ease-in reverse;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: 2;
  animation-delay: 0.35s;
}

@keyframes chop {
  0% {
    transform: translateX(-20px) rotate(-15deg);
  }
  10% {
    transform: translateX(-30px) rotate(-30deg);
  }
  20% {
    transform: translateX(-40px) rotate(-45deg);
  }
  30% {
    transform: translateX(-30px) rotate(-30deg);
  }
  40% {
    transform: translateX(-20px) rotate(-15deg);
  }
  50% {
    transform: translateX(0px) rotate(0deg);
  }
  60% {
    transform: translateX(20px) rotate(15deg);
  }
  70% {
    transform: translateX(40px) rotate(30deg);
  }
  80% {
    transform: translateX(60px) rotate(30deg);
  }
  90% {
    transform: translateX(40px) rotate(15deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

.chop {
  animation: chop 0.5s ease-in;
}

@keyframes slap {
  0% {
    transform: translateX(-5px) rotateY(0deg);
  }
  10% {
    transform: translateX(-10px) rotateY(-15deg);
  }
  20% {
    transform: translateX(-20px) rotateY(-30deg);
  }
  30% {
    transform: translateX(-10px) rotateY(-45deg);
  }
  40% {
    transform: translateX(-5px) rotateY(-70deg);
  }
  50% {
    transform: translateX(0px) rotateY(-90deg);
  }
  60% {
    transform: translateX(20px) rotateY(-70deg);
  }
  70% {
    transform: translateX(40px) rotateY(-45deg);
  }
  80% {
    transform: translateX(60px) rotateY(-30deg);
  }
  90% {
    transform: translateX(40px) rotateY(-15deg);
  }
  100% {
    transform: translateX(0px) rotateY(0deg);
  }
}

.slap {
  animation: slap 0.5s ease-in;
}

/* Extra small devices (phones, 599px and down) */
@media only screen and (max-width: 599px) {
  h1 {
    font-size: 2rem;
  }
  #quote-box,
  #instructions {
    width: 280px;
  }
  img {
    width: 75px;
  }
  p {
    font-size: 0.85rem;
  }
  #quote {
    width: 150px;
    font-size: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
  #quote-box,
  #instructions {
    width: 500px;
  }
  img {
    width: 100px;
  }
  p {
    font-size: 1rem;
  }
  #quote {
    width: 300px;
    font-size: 1.2rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  #quote-box,
  #instructions {
    width: 600px;
  }
  img {
    width: 200px;
  }
  p {
    font-size: 1rem;
  }
  #quote {
    width: 300px;
    font-size: 1.2rem;
  }
}
